extends ../layout

block content
    a(href="/bicycle") Go Back

    br
    br
    br

    h1 New Bicycle

    br
    br

    form(action='/bicycle/create' method='post')
        label(for='id') ID:
        input#id(type="text",name="id")
        br
        label(for="color") Color:
        input#color(type="text",name="color")
        br
        label(for="model") Model:
        input#model(type="text",name="model")
        br
        label(for="lat") Latitude:
        input#model(type="text",name="lat")
        br
        label(for="lng") Longitude:
        input#model(type="text",name="lng")
        br
        br
        input.btn(type="submit",value="OK")
        br
