extends ../layout

block content
    a(href="/bicycle/create") New Bicycle
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Model
                th(scope='col') Location
                th(scope='col')
                th(scope='col')
        tbody
            each bicy in bicys
                tr
                    th(scope='row')
                        = bicy.id
                    td= bicy.color
                    td=bicy.model
                    td= bicy.location
                    td
                        a(href="bicycle/"+bicy.id+"/update") Update
                    td
                        form.inLine(method="post" action="bicycle/"+bicy.id+"/delete")
                            input(type="hidden" name="id" value=bicy.id)
                            button.link-button(type="submit" name="submit_param" value="submit_value" class="btn")
                                = "Delete"