extends ../layout

block content
    a(href="/bicycle") Go Back

    br
    br
    br

    h1 Update Bicycle

    br
    br

    form(action=`/bicycle/${bicy.id}/update` method='post')
        label(for='id') ID:
        input#id(type="text",name="id",value=bicy.id)
        br
        label(for="color") Color:
        input#color(type="text",name="color",value=bicy.color)
        br
        label(for="model") Model:
        input#model(type="text",name="model",value=bicy.model)
        br
        label(for="lat") Latitude:
        input#model(type="text",name="lat",value=bicy.location[0])
        br
        label(for="lng") Longitude:
        input#model(type="text",name="lng",value=bicy.location[1])
        br
        br
        input.btn(type="submit",value="Update")
        br
