extends ../layout

block content
    a.btn.btn-outline-primary(href='/user/create') New User

    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Verified
                th(scope='col')
                th(scope='col')
        tbody
            each user in users
                tr
                    td(scope="row")
                        =user.id
                    td= user.name
                    td= user.email
                    td= user.verified ? 'YES' : 'NO'
                    td
                        a.btn.btn-outline-secondary(href='user/' + user.id + '/update') Update
                    td
                        form.inline(method='post' action='user/' + user.id + '/delete')
                            input(type='hidden' name='id' value= user.id)
                            button.link-button.btn.btn-danger(type='submit' name='submit_param' value='submit_value')
                                = 'Delete'